:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray: gray;
  --color-light-gray: #f1f0ed;
  --color-gold: #529002;
  --color-light-yellow: #fbfbde;

  /*
   * 画面幅について。
   * 360px: レイアウトを保証する最低幅。iPhone SE 2nd Genの横幅375pxの96%。
   * 667px: PC向けレイアウトの最小幅。iPhone SE 2nd Genの横向きの幅。
   * 1024px: 最大コンテンツ幅。iPad miniの横向きの幅。
   */
  --min-pc-width: 667px;
  --max-width: 1024px;

  font-size: 12px;
}

body {
  margin: 0;
}

p {
  word-break: keep-all;
}

.fullViewportOverlay {
  position: fixed;
  transition: opacity 0.3s;
  pointer-events: none;

  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.visible {
    pointer-events: auto;
    opacity: 1;
  }
}

.onlyPc {
  @media screen and (max-width: 666px) {
    display: none;
  }
}

.onlyMobile {
  @media screen and (min-width: 667px) {
    display: none;
  }
}
