.header {
  margin-bottom: 12px;
}

.frame {
  max-width: var(--max-width);
  margin: 0 auto;
}

.nav {
  --width: 280px;

  position: fixed;
  transition: left 0.3s;

  width: var(--width);
  top: 0;
  bottom: 0;
  left: calc(-1 * var(--width));

  &.navVisible {
    left: 0;
  }
}

.footer {
  margin-top: 24px;
}
