.nav {
  background-color: var(--color-white);
  overflow-y: scroll;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
}

.logoImage {
  aspect-ratio: 400 / 70;
  width: auto;
  height: 24px;
}

.linkList {
  font-family: serif;
  list-style-type: none;

  font-size: 16px;
  margin: 10px 0 0;
  padding: 0 24px;

  .head {
    filter: brightness(0.67);
    color: var(--color-gold);
    font-size: 15px;
  }
}

.linkList li {
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  & a {
    text-decoration: none;
    color: var(--color-gold);
  }
}