.nav {
  background-color: var(--color-white);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
}

.logoImage {
  aspect-ratio: 130 / 18;
  width: auto;
  height: 14px;
}

.linkList {
  font-family: serif;
  list-style-type: none;

  font-size: 14px;
  margin: 10px 0 0;
  padding: 0 24px;
}
.linkList li {
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  & a {
    text-decoration: none;
    color: var(--color-gold);
  }
}