.main {
  --padding: 14px;
  padding: 0 var(--padding);
}

.head {
  text-align: center;

  font-weight: bold;

  font-family: var(--font-serif);
  font-size: 16px;
  margin: 4px 0;
}

.price {
  text-align: center;

  font-weight: bold;

  font-size: 16px;
}

.description {
  text-align: center;

  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 24px;
  line-height: 1.25em;
}
